header,
footer {
  background-color: black;
  color: white;
}

header,
main {
  margin: 0;
  padding: 1px;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  display: inline;
  padding: 15px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  background-image: linear-gradient(
    to right,
    rgb(29, 119, 255),
    rgb(0, 166, 255) 20%,
    rgb(217, 246, 252)
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slider {
  padding: 15px 15px 0 15px;
}

.slider-img {
  width: 100%;
}

.image {
  float: left;
  width: 200px;
  height: 200px;
  padding: 30px 0 20px 25px;
}

p {
  columns: 4;
  column-rule: 2px solid black;
  text-align: justify;
  padding: 15px;
}

footer {
  height: 50px;
  text-align: center;
}
